.produtos {
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;

}

.produtos h3 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: gray;
    text-transform: uppercase;
    font-size: 30px;
}

.inline-produtos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 18px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}