
  
  .container {
    max-width: 75vw;
  }
  .container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .container .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .container .carousel .item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 280px;
    border-radius: 16px;
    flex: none;
  }
  
  .container .carousel .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .carousel .item .info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .carousel .item .info span {
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
  }
  
  .container .carousel .item .info .artist {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #00a8fb;
  }
  
  .container .carousel .item .info .price {
    font-size: 0.8rem;
    text-decoration: line-through;
    flex-grow: 1;
    color: #e81a5d;
  }
  
  .container .carousel .item .info .installments {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ff7e3b;
  }
  
  