.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #484437;
  background-color: #F7CD47;
  float: right;
}
.storybook-button--primary:hover {
  background-color: #ecd177;
  
}
.storybook-button--secondary {
  color: #F7CD47;
  background-color: transparent;
  box-shadow: #F7CD47 0px 0px 0px 1px inset;
}

.storybook-button--secondary:hover {
  color: #484437;
  background-color: #F7CD47;
}


.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
